* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    outline: none;

}

body {
    
    width: 100%;
    height: 100vh;     
}

.background-image{
    width: 100%;
    height: 100%;
    
    
}

header{
    height: 23vh;
    background-color: rgba(1, 29, 39, .8);
}

.overlay-body {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;

}

.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 30vh;
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

nav {
    display: flex;
    justify-content: space-around; /* Alinha os itens uniformemente ao longo do container */
    align-items: center;
    width: 100%;
    height: 7vh;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
   
    background-color: rgba(1, 29, 39, .8);
    
   
} 



a {
    text-decoration: none;
    font-size: 24px;
    left: 24%;
    top: 30%;
    font-weight: 600;
    color: white;
    padding: 10px;
   

}
a:hover{
    color: #0b83af;
}

main {

    display: flex;
    flex-direction: row;
    background-color: rgba(1, 29, 39, .8);
    width: 100vw;
    height: 190vh;

}



section {
    width: 40%; /* Porcentagem da largura do pai */
    height: 60vh;
    position: absolute;
    top: 65%;
    /* Alterado para 50% */
    left: 50%;
    /* Alterado para 50% */
    transform: translate(-50%, -50%);
    /* Centraliza o elemento */
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 29, 39, .8);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin: 0 auto; 

}

.select-convert {
    position: relative;
    width: 20vw;
    height: auto;
    background-color: rgba(1, 29, 39,.8);
    color: white;
    border: 1px solid #fff;
    padding: 15px;
    appearance: none;
    top: -11%;


}

.select-convert-destiny {
    position: relative;
    width: 20vw;
    height: auto;
    background-color: rgba(1, 29, 39, .8);
    color: white;
    border: 1px solid #fff;
    padding: 15px;
    appearance: none;
    top: -5%;

}



input {
    position: relative;
    width: 20vw;
    height: auto;
    background-color: rgba(1, 29, 39, .8);
    color: white;
    border: 1px solid #fff;
    padding: 15px;
    top: -3%;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


label {
    color: #fff;
    font-size: 18px;
}

.label-origin {
    position: absolute;
    top:2%;
    left: 25%;
    

}

.label-destiny {
    position: absolute;
    top:17%;
    left:25%


}

.label-input {
    position: absolute;
    top: 32%;
    left: 25%;
}

.button-convert {
    width: 20vw;
    height: 4vh;
    border-radius: 5px;
    font-size: 18px;
    background: rgba(0, 174, 255, 0.322);
    border: none;
    cursor: pointer;
    color: white;
    position: absolute;
    top:48%

}


.button-convert:hover {
    opacity: 0.8;

}

.div-moedas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    height: 20vh;
    border: 1px solid white;
    top: 10%;
    border-radius: 5px;
    position: relative;
}
.div-convert{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.div-converted{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.image-convert{
   width: 120px;
   
   

}

.img-country {
    
    width: 65px;
    height: auto;
   
}

.img-country-destiny {
    width: 65px;
    height: auto;
    
}

.labels,.labels2{
    position: relative;
    top: 10%;
}

.value-to-convert,.value-converted{
    position: relative;
    bottom: 10%;
}


@media screen and (max-width:1920px){
    .label-origin,.label-destiny,.label-input{
        font-size: 18px;
        left: 15%;
    }

    .div-moedas{
        width: 28vw;
        height: 20vh;
    }
    .select-convert,.select-convert-destiny, input{
        width: 28vw;
        height: auto;
    }
    .button-convert{
        width: 28vw;
    }
}

@media screen and (max-width:1450px){

    .select-convert,.select-convert-destiny, input{
        width: 28vw;
        height: auto;
    }

    .div-moedas{
        width: 30vw;
        height: 20vh;
        
    }
  
}

@media screen and (max-width:1000px){
    section{
        width:70vw;
    }

    .select-convert,.select-convert-destiny, input{
        width: 45vw;
        height: auto;
    }
    .button-convert{
        width: 45vw;
    }

    .label-origin,.label-destiny,.label-input{
        font-size: 18px;
        left: 17.5%;
    }

    .label-origin{
        top: 2%;
    }

    .label-destiny{
        top: 17%;
    }

    .div-moedas{
        width: 48vw;
    }
}

@media screen and (max-width:700px){

    .logo-image{
        top: 60%;
        width: 40vw;
        height: auto;
    }
    nav{
        display:none;
    }
    section{
        width: 70vw;
        height: 65vh;
    }
    
    .div-moedas {
        width: 60vw;
    }
    

    .label-input,.label-origin,.label-destiny{
        left: 15.5%;

    }
    .label-origin{
        top:5%
    }

    .label-destiny{
        top: 20%;
    }

    .label-input{
        top:33.5%
    }

    .label-input,.label-origin,.label-destiny, .labels, .labels2,.value-converted,.value-to-convert{
        font-size: 15px;
    }
    .select-convert,.select-convert-destiny,input{
        width: 48vw;
        height: auto;
    }
    .button-convert{
        width: 48vw;
    }

 
}

@media screen and (max-width:500px) {
    .logo-image{
        width: 60vw;
    }
    section{
        width: 90vw;
    }

    .select-convert,.select-convert-destiny,input,.button-convert{
        width: 65vw;
    }

    .label-destiny,.label-origin, .label-input{
        left:13%;
    }

    .div-moedas{
        width: 75vw;
    }

}

@media screen and (max-width:375px) {
    .label-origin{
        top:2.5%;
        font-size:12px;
    }

    .label-input{
        font-size:12px;
        top:35%
    }

    .label-destiny{ 
        font-size:12px;
        top:18.5%

    }

    .select-convert,.select-convert-destiny,input{
        height: 6.5vh;
    }

    .button-convert{
        top:52%;
        height:6vh;
    }

    .div-moedas{
        top:15%;
    }

    .img-country,.img-country-destiny{
        width: 50px;
    }

    .labels,.labels2, .value-to-convert,.value-converted{
        font-size: 12px;
    }
}

